gorkem/tmp-enc/key.txt
gorkem/tmp-enc/tanzu-sync-values.yaml
gorkem/tmp-enc/tap-sensitive-values.yaml
gorkem/tanzu-cluster-essentials/
gorkem/tanzu-cluster-essentials-*.tgz
tanzu-gitops-ri-*.tgz
gorkem/values.yaml
gorkem/ca.crt
*.tgz
*.tar
airgapped-files/*
cert/*
.DS_Store

!gorkem/templates/learning-center/archive.tar